<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="WuyouWinBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WuyouWinBot.Properties.Settings>
      <setting name="wxAppId" serializeAs="String">
        <value>wxXXXXXXXXX</value>
      </setting>
      <setting name="wxAppSecret" serializeAs="String">
        <value>abcdefghijklmn.......</value>
      </setting>
      <setting name="wxTemplateId" serializeAs="String">
        <value>aaaaa_bbbbb</value>
      </setting>
      <setting name="wxOpenId" serializeAs="String">
        <value>XXXXXXXXXXXX</value>
      </setting>
      <setting name="tgBotToken" serializeAs="String">
        <value>12345678765:qwertytrfdsfghgfd</value>
      </setting>
      <setting name="tgChatId" serializeAs="String">
        <value>12345678</value>
      </setting>
    </WuyouWinBot.Properties.Settings>
  </userSettings>
</configuration>
