<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.12" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="Senparc.CO2NET" version="1.4.400" targetFramework="net45" />
  <package id="Senparc.CO2NET.APM" version="0.10.400" targetFramework="net45" />
  <package id="Senparc.NeuChar" version="1.4.400" targetFramework="net45" />
  <package id="Senparc.NeuChar.App" version="0.10.400" targetFramework="net45" />
  <package id="Senparc.Weixin" version="6.9.501" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="16.12.501.1" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net45" />
  <package id="Telegram.Bot" version="16.0.0" targetFramework="net45" />
</packages>